---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "unknown", "created": "2014-06-25T15:28:00.290000", "credits": 0.0, "description":
        "", "dev": true, "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "query_total":
        0, "total": 0}, "file_name": "https://static.bigml.com/csv/iris.csv", "md5":
        "unknown", "name": "Untitled remote source", "number_of_datasets": 0, "number_of_ensembles":
        0, "number_of_models": 0, "number_of_predictions": 0, "private": true, "remote":
        "https://static.bigml.com/csv/iris.csv", "resource": "source/53aaea80ffa044085a000ed7",
        "shared": false, "size": 0, "source_parser": {"missing_tokens": []}, "status":
        {"code": 3, "downloaded_size": 0, "elapsed": 0, "message": "The source is
        being created", "total_size": 0}, "subscription": false, "tags": [], "term_analysis":
        {}, "type": 1, "updated": "2014-06-25T15:28:00.515000"}]}'
  recorded_at: Wed, 25 Jun 2014 15:28:00 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/53aaea80ffa044085a000ed7?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Jun 2014 15:28:00 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"remote":"https://static.bigml.com/csv/iris.csv"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/source/53aaea800af5e8152f000c5e
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 201, "content_type": "unknown", "created":
        "2014-06-25T15:28:00.931285", "credits": 0.0, "description": "", "dev": true,
        "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "total": 0}, "file_name":
        "https://static.bigml.com/csv/iris.csv", "md5": "unknown", "name": "Untitled
        remote source", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "remote": "https://static.bigml.com/csv/iris.csv",
        "resource": "source/53aaea800af5e8152f000c5e", "shared": false, "size": 0,
        "source_parser": {}, "status": {"code": 1, "message": "The request has been
        queued and will be processed soon"}, "subscription": false, "tags": [], "term_analysis":
        {}, "type": 1, "updated": "2014-06-25T15:28:00.931327"}'
  recorded_at: Wed, 25 Jun 2014 15:28:01 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source/53aaea800af5e8152f000c5e?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 200, "content_type": "text/plain;ISO-8859-1",
        "created": "2014-06-25T15:28:00.931000", "credits": 0.0, "description": "",
        "dev": true, "fields": {"000000": {"column_number": 0, "name": "sepal length",
        "optype": "numeric", "order": 0}, "000001": {"column_number": 1, "name": "sepal
        width", "optype": "numeric", "order": 1}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric", "order": 2}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric", "order": 3}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical", "order": 4, "term_analysis":
        {"enabled": true}}}, "fields_meta": {"count": 5, "limit": 1000, "offset":
        0, "query_total": 5, "total": 5}, "file_name": "https://static.bigml.com/csv/iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "Untitled remote source",
        "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models": 0,
        "number_of_predictions": 0, "private": true, "remote": "https://static.bigml.com/csv/iris.csv",
        "resource": "source/53aaea800af5e8152f000c5e", "shared": false, "size": 4608,
        "source_parser": {"header": true, "locale": "en_US", "missing_tokens": ["",
        "NaN", "NULL", "N/A", "null", "-", "#REF!", "#VALUE!", "?", "#NULL!", "#NUM!",
        "#DIV/0", "n/a", "#NAME?", "NIL", "nil", "na", "#N/A", "NA"], "quote": "\"",
        "separator": ","}, "status": {"code": 5, "downloaded_size": 0, "elapsed":
        472, "message": "The source has been created", "total_size": 0}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 1, "updated":
        "2014-06-25T15:28:01.630000"}'
  recorded_at: Wed, 25 Jun 2014 15:28:02 GMT
[...]
