---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "text/plain;ISO-8859-1", "created": "2014-06-25T15:27:28.086000", "credits":
        0.0, "description": "", "dev": true, "file_name": "https://static.bigml.com/csv/iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "Untitled remote source",
        "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models": 0,
        "number_of_predictions": 0, "private": true, "remote": "https://static.bigml.com/csv/iris.csv",
        "resource": "source/53aaea60ffa0440855001bde", "shared": false, "size": 4608,
        "source_parser": {"header": true, "locale": "en_US", "missing_tokens": ["",
        "NaN", "NULL", "N/A", "null", "-", "#REF!", "#VALUE!", "?", "#NULL!", "#NUM!",
        "#DIV/0", "n/a", "#NAME?", "NIL", "nil", "na", "#N/A", "NA"], "quote": "\"",
        "separator": ","}, "status": {"code": 5, "downloaded_size": 0, "elapsed":
        368, "message": "The source has been created", "total_size": 0}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 1, "updated":
        "2014-06-25T15:27:28.627000"}]}'
  recorded_at: Wed, 25 Jun 2014 15:28:00 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/53aaea60ffa0440855001bde?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Jun 2014 15:28:00 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"remote":"https://static.bigml.com/csv/iris.csv"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/source/53aaea80ffa044085a000ed7
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 201, "content_type": "unknown", "created":
        "2014-06-25T15:28:00.290816", "credits": 0.0, "description": "", "dev": true,
        "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "total": 0}, "file_name":
        "https://static.bigml.com/csv/iris.csv", "md5": "unknown", "name": "Untitled
        remote source", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "remote": "https://static.bigml.com/csv/iris.csv",
        "resource": "source/53aaea80ffa044085a000ed7", "shared": false, "size": 0,
        "source_parser": {}, "status": {"code": 1, "message": "The request has been
        queued and will be processed soon"}, "subscription": false, "tags": [], "term_analysis":
        {}, "type": 1, "updated": "2014-06-25T15:28:00.290852"}'
  recorded_at: Wed, 25 Jun 2014 15:28:00 GMT
recorded_with: VCR 2.9.2
